@model QuarantineChefs.Models.RecipeComments

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RecipeComments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.RecipeText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecipeCommentsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
