@model IEnumerable<QuarantineChefs.Models.BlogComments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserProfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blog.BlogText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogCommentsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogCommentsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogCommentsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
